<div class="sections">
  <div class="container">
    <div class="card">
      <img
        src="../../../assets/img/batman.png"
        alt="perfil"
        class="profile-img"
      />
      <div class="container-text">
        <h5 class="welcome">Bem vindo ao TNS Brand Company Tool!</h5>
        <br /><br />
        <p class="about-text">
          A Tunis foi criada por Lucas Zanon em 2020, inspirada em seu melhor
          amigo Tunico. Iniciou-se com a idéia de se vestir de forma autêntica,
          com sua própria marca de roupas. Porém, os modelos ficaram tão FO*AS
          (fofas) que todos pediram para usar também!
          <br />
          <br />
          Neste ambiente você terá acesso a logística de vendas da TNS Brand Co,
          com ferramentas de gerenciamento e cadastro de Clientes, Produtos e
          Pedidos.
          <br /><br />
          Para mais informações, entre em contato no e-mail szanonn@gmail.com
        </p>
        <br />
        <img class="tunico-dog" src="../../../assets/img/tunicoo.jpg" alt="" />
        <br /><br />
      </div>
    </div>
  </div>
</div>
