
a {
    text-decoration: none;
}

.container {
    font-size: 20px!important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card {
    width: 1080px;
    background-color: rgb(41, 41, 41);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-img {
    width: 150px;
    transform: translateY(-65px);
}

.container-text {
    margin-top: -40px;
    text-align: center;
}

.tunico-dog{
  height: 500px;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-text{
    width: 700px;
}

h1.name {
    margin: 0;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h3.desc {
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.address-icon {
    width: 24px;
    filter: brightness(15);
}

.socials {
    margin: 30px 0;
}

.socials a {
    margin-right: 40px;
}

.socials a:last-child {
    margin-right: 0;
}

.socials img {
    width: 48px;
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
}

.socials img:hover {
    transform: scale(110%);
}

.socials img:active {
    transform: scale(103%);
}