<div class="sections">
    <form [formGroup]="form" (ngSubmit)="saveForm()">
        <br>
        <div class="form-group">
            <label for="price" class="form-label">Preço</label>
            <input id="price" formControlName="price" type="number" class="form-control" [(ngModel)]="product.price" autocomplete="off" [ngClass]="{
             'valid': form.get('product.price')?.valid && !form.get('product.price')?.pristine,
             'invalid': form.get('product.price')?.invalid && !form.get('product.price')?.pristine}">
        </div>
        <br>
        <div class="form-group">
            <label for="expiryDate" class="form-label">Fim da coleção</label>
            <input id="expiryDate" formControlName="expiryDate" type="date" class="form-control" [(ngModel)]="product.expiryDate" autocomplete="off" [ngClass]="{ 
                'valid':  form.get('product.expiryDate')?.valid && !form.get('product.expiryDate')?.pristine,
                'invalid': form.get('product.expiryDate')?.invalid && !form.get('product.expiryDate')?.pristine
               }">
        </div>
        <br>
        <div class="form-group">
            <label for="stockQuantity" class="form-label">Estoque</label>
            <input id="stockQuantity" formControlName="stockQuantity" type="number" class="form-control" [(ngModel)]="product.stockQuantity" autocomplete="off" [ngClass]="{ 
                'valid':  form.get('product.stockQuantity')?.valid && !form.get('product.stockQuantity')?.pristine,
                'invalid': form.get('product.stockQuantity')?.invalid && !form.get('product.stockQuantity')?.pristine
               }">
        </div>
        <br>
        <div class="form-group">
            <label for="description" class="form-label">Descrição</label>
            <input id="description" formControlName="description" type="text" class="form-control" [(ngModel)]="product.description" autocomplete="off" [ngClass]="{ 
                'valid':  form.get('product.description')?.valid && !form.get('product.description')?.pristine,
                'invalid': form.get('product.description')?.invalid && !form.get('product.description')?.pristine
               }">
        </div>
        <br>
        <div class="form-div-btn">
            <button class="btn btn-primary" (click)="cleanForm()">Limpar</button>
            <input type="submit" value="Salvar" class="btn btn-primary"/> 
        </div>

        <br>
        <div class="alert alert-danger mt-1" *ngIf="form.invalid && !form.pristine">
            <span *ngIf="form.get('price')?.errors?.['required']">O expiryDate do producte é obrigatório!<br></span>
            <span *ngIf="form.get('expiryDate')?.errors?.['required']">O expiryDate do producte é obrigatório!<br></span>
            <span *ngIf="form.get('stockQuantity')?.errors?.['required']">O expiryDate do producte é obrigatório!<br></span>
            <span *ngIf="form.get('description')?.errors?.['required']">O expiryDate do producte é obrigatório!<br></span>
            <span *ngIf="form.get('price')?.errors?.['min']">O preço deve ser maior que 0<br></span>
            <span *ngIf="form.get('stockQuantity')?.errors?.['min']">O expiryDate deve ter no máximo 11 digitos<br></span>
            <span *ngIf="form.get('description')?.errors?.['minlength']">A descrição deve ter no mínimo 3 digitos<br></span>
       </div>
    </form>
</div>

