<div class="sections">
    <form [formGroup]="form" (ngSubmit)="saveForm()">
        <br>
        <div class="form-group">
            <label for="description" class="form-label">Status do pedido</label>
            <select class="form-control" id="exampleFormControlSelect1" input id="status" formControlName="status" type="text" class="form-control" autocomplete="off" [ngClass]="{ 
                'valid':  form.get('order.status')?.valid && !form.get('order.status')?.pristine,
                'invalid': form.get('order.status')?.invalid && !form.get('order.status')?.pristine
               }">
                <option>Em andamento</option>
                <option>Em transito</option>
                <option>Finalizado</option>
              </select>
        </div>
        <br>
        <div class="form-div-btn">
            <button class="btn btn-primary" routerLink="/orders/table">Voltar</button>
            <input type="submit" value="Salvar" class="btn btn-primary"/> 
        </div>

        <br>
        <div class="alert alert-danger mt-1" *ngIf="form.invalid && !form.pristine">
            <span *ngIf="form.get('cliendId')?.errors?.['required']">O Id do cliente é obrigatório!<br></span>
            <span *ngIf="form.get('productId')?.errors?.['required']">O Id do produto é obrigatório!<br></span>
            <span *ngIf="form.get('productQuantity')?.errors?.['required']">A quantidade do produto é obrigatória!<br></span>
            <span *ngIf="form.get('cliendId')?.errors?.['min']">O Id do cliente deve ser maior que 0<br></span>
            <span *ngIf="form.get('productQuantity')?.errors?.['min']">O Id do produto  deve ser maior que 0<br></span>
       </div>
    </form>
</div>


