<div class="sections">
    <div class="container">
        <!-- Card 1 -->
        <div class="card card-1">
          <!-- card-header -->
          <div class="card-header">
            <img src="../../../../assets/img/MODELO_BATDOG.png" class="card-img" />
          </div>
          <!-- card-header -->
  
          <!-- card-body -->
          <div class="card-body">
            <p class="card-texto">
             BatDog
            </p>
          </div>
          <!-- card-body -->
  
          <!-- card-footer -->
          <div class="card-footer">
            <a href="#">Ver Mais</a>
          </div>
          <!-- card-footer -->
        </div>
        <!-- Card 1 -->
  
        <!-- Card 2 -->
        <div class="card card-2">
          <!-- card-header -->
          <div class="card-header">
            <img src="../../../../assets/img/MODELO_CASH.png" class="card-img" />
          </div>
          <!-- card-header -->
  
          <!-- card-body -->
          <div class="card-body">
            <p class="card-texto">
              Ca$h
            </p>
          </div>
          <!-- card-body -->
  
          <!-- card-footer -->
          <div class="card-footer">
            <a href="#">Ver Mais</a>
          </div>
          <!-- card-footer -->
        </div>
        <!-- Card 2 -->
  
        <!-- Card 3 -->
        <div class="card card-3">
          <!-- card-header -->
          <div class="card-header">
            <img src="../../../../assets/img/MODELO_DOLAR.png" class="card-img" />
          </div>
          <!-- card-header -->
  
          <!-- card-body -->
          <div class="card-body">
            <p class="card-texto">
              Dolar
            </p>
          </div>
          <!-- card-body -->
  
          <!-- card-footer -->
          <div class="card-footer">
            <a href="#">Ver Mais</a>
          </div>
          <!-- card-footer -->
        </div>
        <!-- Card 3 -->

        <!-- Card 4 -->
        <div class="card card-3">
            <!-- card-header -->
            <div class="card-header">
              <img src="../../../../assets/img/MODELO_YELLOW.png" class="card-img" />
            </div>
            <!-- card-header -->
    
            <!-- card-body -->
            <div class="card-body">
              <p class="card-texto">
                Yellow
              </p>
            </div>
            <!-- card-body -->
    
            <!-- card-footer -->
            <div class="card-footer">
              <a href="#">Ver Mais</a>
            </div>
            <!-- card-footer -->
          </div>
          <!-- Card 4 -->

          <!-- Card 5 -->
        <div class="card card-3">
            <!-- card-header -->
            <div class="card-header">
              <img src="../../../../assets/img/MODELO_RGB.png" class="card-img" />
            </div>
            <!-- card-header -->
    
            <!-- card-body -->
            <div class="card-body">
              <p class="card-texto">
                RGB
              </p>
            </div>
            <!-- card-body -->
    
            <!-- card-footer -->
            <div class="card-footer">
              <a href="#">Ver Mais</a>
            </div>
            <!-- card-footer -->
          </div>
          <!-- Card 5 -->

          <!-- Card 6 -->
        <div class="card card-3">
            <!-- card-header -->
            <div class="card-header">
              <img src="../../../../assets/img/MODELO_WARD.png" class="card-img" />
            </div>
            <!-- card-header -->
    
            <!-- card-body -->
            <div class="card-body">
              <p class="card-texto">
                Ward
              </p>
            </div>
            <!-- card-body -->
    
            <!-- card-footer -->
            <div class="card-footer">
              <a href="#">Ver Mais</a>
            </div>
            <!-- card-footer -->
          </div>
          <!-- Card 6 -->
        
        <!-- Link Tutorial: https://youtu.be/UEm65E2_Y2Q -->
      </div>
</div>

