
  body {
    background-color: #555;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  

 
  /* Card */
  .card {
    width: 350px;
    height: 550px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 0;
    text-align: center;
  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 20px;
    width: 250px;
    font-weight: bolder;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
  }
  
  /* Cores Cards */

  
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
  