<div class="footer">
    <div class="footer-content">
        <p>
            Developed by @zanondev
        </p> 
        <div class="footer-icons">
            <a href="https://github.com/zanondev?tab=repositories">
                <span id="iconify" class="iconify" data-icon="bi:github" style="color: white;"></span>
            </a>
            <a id="iconify" href="https://www.linkedin.com/in/lucaszanon/"> <span class="iconify" data-icon="bi:linkedin" style="color: white;"></span></a>
           
        </div>
    </div>
    
</div>