<div class="sections">
    <form [formGroup]="form" (ngSubmit)="saveForm()">
        <br>
        <div class="form-group">
            <label for="name" class="form-label">Nome</label>
            <input id="name" formControlName="name" type="text" class="form-control" autocomplete="off" [ngClass]="{
             'valid': form.get('client.name')?.valid && !form.get('client.name')?.pristine,
             'invalid': form.get('client.name')?.invalid && !form.get('client.name')?.pristine}">
        </div>
        <br>
        <div class="form-group">
            <label for="cpf" class="form-label">CPF</label>
            <input id="cpf" formControlName="cpf" type="text" class="form-control" autocomplete="off" [ngClass]="{ 
                'valid':  form.get('client.cpf')?.valid && !form.get('client.cpf')?.pristine,
                'invalid': form.get('client.cpf')?.invalid && !form.get('client.cpf')?.pristine
               }">
        </div>
        <br>
        <div class="form-group">
            <label for="birthDate" class="form-label">Data de Nascimento</label>
            <input id="birthDate" formControlName="birthDate" type="date" class="form-control" autocomplete="off" [ngClass]="{ 
                'valid':  form.get('client.birthDate')?.valid && !form.get('client.birthDate')?.pristine,
                'invalid': form.get('client.birthDate')?.invalid && !form.get('client.birthDate')?.pristine
               }">
        </div>
        <br>
        <div class="form-div-btn">
            <button class="btn btn-primary" (click)="cleanForm()">Limpar</button>
            <input type="submit" value="Salvar" class="btn btn-primary"/> 
        </div>

        <br>
        <div class="alert alert-danger mt-1" *ngIf="form.invalid && !form.pristine">
            <span *ngIf="form.get('cpf')?.errors?.['required']">O cpf do cliente é obrigatório!<br></span>
            <span *ngIf="form.get('cpf')?.errors?.['maxlength']">O cpf deve ter no máximo 11 digitos<br></span>
       </div>
    </form>
</div>

