<div class="footer">
    <div class="footer-content">
        <p>
            Developed by @zanondev
        </p> 
        <div class="footer-icons">
            <a href="https://github.com/zanondev?tab=repositories">
                <i style="color: white;" class="bi-github iconify" role="img" aria-label="GitHub"></i>
            </a>
            <a id="iconify" href="https://www.linkedin.com/in/lucaszanon/"> 
                <i style="color: white;" class="bi bi-linkedin"></i>
            </a>
            
        </div>
    </div>
    
</div>