<div class="container-table">
    <section class="sec-table">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Nascimento</th>
                    <th>Pontos de Fidelidade</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.cpf }}</td>
                    <td>{{ client.birthDate }}</td>
                    <td>{{ client.loyaltyPoints }}</td>           
                </tr>
            </tbody>
        </table>
    </section>
    
</div>




