.head_1{
    font-size: 80px;
    font-weight: 600;
    color: #333;
}
.head_1 span{
    color: white;
}
.head_2{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 3px;
}
ul{
    display: flex;
    margin-top: 80px;
    gap: 50px;
}
ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li .icon{
    font-size: 35px;
    color: white;
    margin: 0 60px;
}
ul li .text{
    font-size: 14px;
    font-weight: 600;
    color: white;
}

/* Progress Div Css  */

ul li .progress{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 14px 0;
    display: grid;
    place-items: center;
    position: relative;
    cursor: pointer;
}


.main{
    text-align: center;
}

.status-desactive{
 background-color: rgb(105, 103, 103)!important;
}

.status-active{
    background-color: #13f35e!important;

}

.bi{
   font-size: 100px;
}

.icon-active {
    color: white;
}

.icon-hidden{
    visibility: hidden;
}




